<!--<h1>timer</h1>-->

<!-- THIS WAS FOR MAKING TIMER, IVE COMMENTED THIS OUT IN CASE YOU FEEL LIKE USING IT (it doesnt work properly)
    
    <div class="mat-elevation-2">
    <h1>Timer</h1>
    <mat-card>
        <mat-card-content>
            <div class="digital-timer">
                <span>{{formatTime(seconds)}}</span>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button class="buttons" mat-raised-button color="primary" (click)="toggleTimer()">
                {{timeRunning ? 'Pause':'Restart'}}
            </button>

            <button class="buttons" mat-raised-button="accent" (click)="resetTimer()">Reset</button>
        </mat-card-actions>
    </mat-card>

</div> -->

<div class="buttons flex justify-center items-center m-[5vh]">
    <a title="stopWatch"
        class="inline-flex items-center justify-center p-5 m-5 text-base font-medium text-gray-500 rounded-lg hover:text-gray-900 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 ..."
        routerLink="/digitalclock" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 15 15" fill="none">
            <path
                d="M7.5 5V8.5H10M6 0.5H9M7.5 2.5C4.18629 2.5 1.5 5.18629 1.5 8.5C1.5 11.8137 4.18629 14.5 7.5 14.5C10.8137 14.5 13.5 11.8137 13.5 8.5C13.5 5.18629 10.8137 2.5 7.5 2.5Z"
                stroke="white" />
        </svg>
    </a>
    <a title="Clock"
        class="inline-flex items-center justify-center p-5 m-5 text-base font-medium text-gray-500 rounded-lg hover:text-gray-900 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 ..."
        routerLink="/clock" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="white"
            class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
    </a>
</div>