<audio id="myAudio">
    <source src="" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<div id="bg" class="flex items-center justify-center text-white">
    <div id="box" class="flex items-center justify-center flex-col m-10 p-5">
        <div id="current-time" class="">
            <div id="ct" class="text-[#ffffff] text-4xl font-['Open_Sans',_sans-serif]">{{ result }}</div>
            <div *ngIf="alarmLoading; else elseBlock" id="alarm-on" [ngClass]="{'bg-red-700': !isAlarmOff, 'text-white ml-3 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900': isAlarmOff}">Alarm: ON</div>
            <ng-template #elseBlock>
                <div 
                    class="text-white ml-3 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
                    id="alarm-off" (click)="toggleAlarm()">ALARM: OFF</div>
            </ng-template>

        </div>
        <div id="clock" class="flex justify-center items-center">
            <select (change)="onHourChange($event)" class="block py-2.5 px-0 w-full text-1xl text-white bg-transparent border-0 border-b-2 border-black appearance-none dark:text-black dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer mr-3">
                <option *ngFor="let hour of hourOptions" [value]="hour">{{ hour }}</option>
            </select>:
            <select (change)="onMinuteChange($event)" class="block py-2.5 px-0 w-full text-1xl text-white bg-transparent border-0 border-b-2 border-black appearance-none dark:text-black dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer ml-3">
                <option *ngFor="let minute of minuteOptions" [value]="minute">{{ minute }}</option>
            </select>
        </div>

        <div id="wrapper" class="flex items-center justify-center">
            <button (click)="setAlarm()" class="text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 ml-3" id="set-alarm-button">Set Alarm</button>
        </div>
    </div>
</div>


<div class="buttons flex justify-center items-center m-[5vh]">
    <a title="stopWatch"
        class="inline-flex items-center justify-center p-5 m-5 text-base font-medium text-gray-500 rounded-lg hover:text-gray-900 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 ..."
        routerLink="/digitalclock" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 15 15" fill="none">
            <path
                d="M7.5 5V8.5H10M6 0.5H9M7.5 2.5C4.18629 2.5 1.5 5.18629 1.5 8.5C1.5 11.8137 4.18629 14.5 7.5 14.5C10.8137 14.5 13.5 11.8137 13.5 8.5C13.5 5.18629 10.8137 2.5 7.5 2.5Z"
                stroke="white" />
        </svg>
    </a>
    <a title="Clock"
        class="inline-flex items-center justify-center p-5 m-5 text-base font-medium text-gray-500 rounded-lg hover:text-gray-900 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 ..."
        routerLink="/clock" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="white"
            class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
    </a>
</div>