<!-- <audio id="myAudio">
    <source src="" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
      
<div id="bg" class="d-flex h-100">
    <div id="box" class="justify-content-center align-self-center">
            <div id="current-time">Current Time: {{ result }}
                <div *ngIf="alarmLoading; else elseBlock" id="alarm-on">Alarm: ON</div>
                <ng-template #elseBlock >
                    <div id="alarm-off">Alarm: OFF</div>
                </ng-template>
            </div>
            <div id="clock">{{ hours }}:{{ minutes }}</div>

            <div id="clock">
                <select [(ngModel)]="hours">
                    <option *ngFor="let hour of hourOptions" [value]="hour">{{ hour }}</option>
                </select>:
                <select [(ngModel)]="minutes">
                    <option *ngFor="let minute of minuteOptions" [value]="minute">{{ minute }}</option>
                </select>
            </div>

            <div id="wrapper" class="control-buttons">
                <button class="btn btn-dark" (click)="addFirstDigit()">+</button>
                <button class="btn btn-dark"(click)="removeFirstDigit()">-</button>
                <button class="btn btn-dark" (click)="addSecondDigit()">+</button>
                <button class="btn btn-dark" (click)="removeSecondDigit()">-</button>
            </div>
            <div id="wrapper" class="btn primary">
                <button (click)="alarm(hours,minutes)" class="btn" id="set-alarm-button">Set Alarm</button>
            </div>
    </div>
</div> -->


<audio id="myAudio">
    <source src="" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<div id="bg" class="d-flex h-100">
    <div id="box" class="justify-content-center align-self-center">
        <div id="current-time">Current Time: {{ result }}
            <div *ngIf="alarmLoading; else elseBlock" id="alarm-on">Alarm: ON</div>
            <ng-template #elseBlock >
                <div id="alarm-off">Alarm: OFF</div>
            </ng-template>
        </div>
        <div id="clock">
            <select (change)="onHourChange($event)">
                <option *ngFor="let hour of hourOptions" [value]="hour">{{ hour }}</option>
            </select>:
            <select (change)="onMinuteChange($event)">
                <option *ngFor="let minute of minuteOptions" [value]="minute">{{ minute }}</option>
            </select>
        </div>
      
        <div id="wrapper" class="btn primary">
            <button (click)="setAlarm()" class="btn" id="set-alarm-button">Set Alarm</button>
        </div>
    </div>
</div>


<div class="buttons flex justify-center items-center m-[5vh]">
    <a title="stopWatch"
        class="inline-flex items-center justify-center p-5 m-5 text-base font-medium text-gray-500 rounded-lg hover:text-gray-900 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 ..."
        routerLink="/digitalclock" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 15 15" fill="none">
            <path
                d="M7.5 5V8.5H10M6 0.5H9M7.5 2.5C4.18629 2.5 1.5 5.18629 1.5 8.5C1.5 11.8137 4.18629 14.5 7.5 14.5C10.8137 14.5 13.5 11.8137 13.5 8.5C13.5 5.18629 10.8137 2.5 7.5 2.5Z"
                stroke="white" />
        </svg>
    </a>
    <a title="Clock"
        class="inline-flex items-center justify-center p-5 m-5 text-base font-medium text-gray-500 rounded-lg hover:text-gray-900 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 ..."
        routerLink="/clock" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="white"
            class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
    </a>
</div>