<!-- <app-digitalclock></app-digitalclock> -->

<div class="clock flex justify-center items-center p-[2vw] mt-[20vh]">
    <div class="text-[white] text-7xl font-['Open_Sans',_sans-serif]">{{hour}} :&nbsp; </div>
    <div class="text-[white] text-7xl font-['Open_Sans',_sans-serif]"> {{minute}} :&nbsp;</div>
    <div class="text-[white] text-7xl font-['Open_Sans',_sans-serif]"> {{sec}} &nbsp;</div>
    <div class="text-[white] text-7xl font-['Open_Sans',_sans-serif]"> {{ampm}}</div>
</div>

<div class="buttons flex justify-center items-center m-[5vh]">
    <a class="inline-flex items-center justify-center p-5 m-5 text-base font-medium text-gray-500 rounded-lg hover:text-gray-900 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 ..."
        routerLink="/digitalclock" routerLinkActive="activebutton" ariaCurrentWhenActive="page"><svg
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="white"
            class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
    </a>
    <a class="inline-flex items-center justify-center p-5 m-5 text-base font-medium text-gray-500 rounded-lg hover:text-gray-900 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 ..."
        routerLink="/timer" routerLinkActive="activebutton" ariaCurrentWhenActive="page"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 21">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 3.464V1.1m0 2.365a5.338 5.338 0 0 1 5.133 5.368v1.8c0 2.386 1.867 2.982 1.867 4.175C17 15.4 17 16 16.462 16H3.538C3 16 3 15.4 3 14.807c0-1.193 1.867-1.789 1.867-4.175v-1.8A5.338 5.338 0 0 1 10 3.464ZM1.866 8.832a8.458 8.458 0 0 1 2.252-5.714m14.016 5.714a8.458 8.458 0 0 0-2.252-5.714M6.54 16a3.48 3.48 0 0 0 6.92 0H6.54Z"/>
        </svg>
    </a>
</div>
