/* @import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css'; */

/* nav {
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* nav .button {
    margin: 1vw;
    appearance: none;
	border: .2em solid #E91E63;
	background: hsl(0 0 0/0);
	padding: .85em 1.5em;
	color: #E91E63;
	border-radius: 2em;
	transition: 1s;
	&:hover, &:focus, &:active {
		background: #E91E63;
		color: #fff;
	}
} */

/* .activebutton {
    box-shadow: inset 0 1px 0 0 #dcecfb;
    background: linear-gradient(to bottom, rgb(28, 115, 119), #85d5dc);
    border: 1px solid #84bbf3;
    color: #ffffff;
} */